<div class="container section-padding">
  <div class="error-page text-center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
  </div>
</div> 